<!doctype html>
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PCS Dashboard</title>
    <meta name="description" content="PCS Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="~/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/vendors/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">


    <link rel="stylesheet" href="~/Content/Site.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>


    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <p class="text-white navbar-brand">PCS Dashboard</p>
                <p class="text-white navbar-brand hidden">P</p>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">

                        @Html.ActionLink("Dashboard", "Index", "Home")


                    </li>
                    <h3 class="menu-title">Reports</h3>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Enrollments</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <i class="fa fa-compass"></i>

                                @Html.ActionLink("Clusters Report", "Report", "Home")
                                @*<a href="ui-buttons.html">Cluster Report</a>*@

                            </li>
                            <li>
                                <i class="fa fa-home"></i>
                                @Html.ActionLink("Clusters by village code", "clusters", "Home")
                                <!--<a href="/pcs/Home/clusters">-->@*Clusters by village code*@<!--</a>-->

                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                @Html.ActionLink("Over Selected Clusters", "OverSelectedCluster", "Home")
                                <!--<a href="/pcs/Home/clusters">-->@*Clusters by village code*@<!--</a>-->

                            </li>

                            <li>
                                <i class="fa fa-user"></i>
                                @Html.ActionLink("Social Contact", "SocialContact", "Home")
                                @*<a href="/pcs/Home/queries">Queries</a>*@

                            </li>

                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Data Queries</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <i class="fa fa-sticky-note-o"></i>
                                @Html.ActionLink("Queries", "queries", "Home")
                                @*<a href="/pcs/Home/queries">Queries</a>*@

                            </li>
                            <li>
                                <i class="fa fa-question"></i>
                                @Html.ActionLink("Queries Summary", "DataCleaningIndicators", "Home")
                                @*<a href="/pcs/Home/queries">Queries</a>*@

                            </li>
                            

                        </ul>
                    </li>



                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->
    <!-- Left Panel -->
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-3">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>

                </div>

                <div class="col-sm-7 text-center">

                    <div class="page-header ">
                        <div class="page-title">
                            <h1>Report from 24th-Jan-2022 to @DateTime.Now.Date.ToString("dd-MMMM-yyyy")</h1>
                        </div>
                    </div>





                </div>

                <div class="col-sm-2">
                    <div class="user-area dropdown float-right">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>@User.Identity.Name!</h1>
                            </div>
                        </div>




                    </div>
                </div>
            </div>


        </header><!-- /header -->
        <!-- Header-->


        @RenderBody()



    </div><!-- /#right-panel -->
    <!-- Right Panel -->
    @Scripts.Render("~/bundles/jquery")

    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="~/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/assets/js/main.js"></script>


    <script src="~/vendors/chart.js/dist/Chart.bundle.min.js"></script>






    <script src="~/assets/js/dashboard.js"></script>
    <script src="~/assets/js/widgets.js"></script>
    <script src="~/assets/js/Queries.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/cluster.js"></script>
    <script src="~/assets/js/Indicators.js"></script>
    <script src="~/assets/js/overselected.js"></script>
    <script src="~/assets/js/socialcontact.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>

    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>

    <script src="~/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="~/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>



    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    <script>

    </script>

</body>

</html>

